#movie-modal {
  /* left: 50%;
  transform: translateX(-50%);
  width: 1400px; */
  background-color: rgba(34, 31, 31, 0.829);
}

.ui.modal .scrolling.content {
  height: 900px;
}

.ui.modal > .header:not(.ui) {
  font-size: 2rem;
  line-height: 1.28571429em;
  font-weight: 700;
}

.movieModalHeader {
  font-size: 50px;
}

.movieModalDescription {
  background-color: blue;
}
